* {
    font-family: "DM Sans", sans-serif;
}

main .container {
    width: 100% !important;
    max-width: 100% !important;

    @media (min-width: 992px) {
        width: 95% !important;
        max-width: 1500px !important;
    }
}

body.path-frontpage .page main {
    padding-top: 0 !important;
}

body.path-frontpage {
    .page__header {
        display: none !important;
    }
}