body.path-frontpage .page main {
    padding-top: 0 !important;
}

body.path-frontpage {
    .page__header {
        display: none !important;
    }

    .layout--fourcol-section {
        position: relative;
        z-index: 5;
        margin-top: -95px;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        gap: 100px;
        flex-wrap: nowrap;

        .layout__region {
            flex: 1 1 0;
        }

        @media (max-width: 991px) {
            flex-wrap: wrap;
            .layout__region {
                min-width: 45%;
            }
        }
    }
}